/* icon */
#wp-admin-bar-paid-memberships-pro .ab-item .ab-icon:before {
    font-family: "dashicons";
    content: "\f307";
}
.dmrfid_admin tr td .dashicons {padding-top: 5px; }

/* header/etc */
.dmrfid_admin {
    background-image: url(../images/Paid-Memberships-Pro_watermark.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 290px 40px;
    padding: 1em 0 70px 0;
}
.dmrfid_admin .dmrfid_banner {
    display: grid;
    grid-template-areas: "logo meta";
    grid-template-columns: 350px auto;
}
.dmrfid_admin .dmrfid_banner .dmrfid_logo {
    grid-area: logo;
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta {
    align-self: center;
    grid-area: meta;
    font-size: 16px;
    line-height: 1.5;
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta .dmrfid_version {
    color: #77a02e;
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px 5px 2px;
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta a {
    border-left: 1px solid #CCC;
    padding: 5px 10px;
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta a.dmrfid_license_tag {
    font-weight: bold;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta a.dmrfid_license_tag:before {
    bottom: 7px;
    display: inline-block;
    font: 400 20px/1 dashicons;
    left: 0;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta a.dmrfid_license_tag.dmrfid_license_tag-valid {
    color: rgb( 70, 180, 80 );
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta a.dmrfid_license_tag.dmrfid_license_tag-valid:before {
    content: "\f147";
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta a.dmrfid_license_tag.dmrfid_license_tag-invalid {
    color: #AAA;
}
.dmrfid_admin .dmrfid_banner .dmrfid_meta a.dmrfid_license_tag.dmrfid_license_tag-invalid:before {
    content: "\f335";
}

.dmrfid_admin .dmrfid_wp-notice-fix {
    height: 1px;
    line-height: 1px;
    margin: 0;
}
.dmrfid_admin .topborder {border-top: 1px solid #CCC; margin-top: 1em; padding-top: 1em; }
.dmrfid_admin #editorcontainer #description {width: 100%; height: 180px; }

.dmrfid_admin .dmrfid_icon {
    max-width: 200px;
    height: auto;
}

/* checkboxes */
.checkbox_box {width: 300px; background: #FFFFFF; border: 1px solid #CCC;}
.checkbox_box div {border-bottom: 1px solid #CCC; padding: 3px;}
.checkbox_box .clickable {cursor: pointer;}
.checkbox_box .clickable:hover {background: #FFC;}

/* consent log */
.dmrfid_consent_log.dmrfid_scrollable {
	padding: .5em;
	background: #FFF;
	border: 1px solid #CCC;
	height: 200px;
	max-width: 800px;
	overflow: auto;
}

/* levels */
.memberships_page_dmrfid-membershiplevels .dmrfid_admin #posts-filter p.search-box { margin: 2em 0 1em 0; }
.memberships_page_dmrfid-membershiplevels .dmrfid_admin tr.dmrfid_gray td {color: #AAA;}
.memberships_page_dmrfid-membershiplevels .dmrfid_admin tr td.level_name span.level-name a {font-size: 115%; font-weight: bold; }
.memberships_page_dmrfid-membershiplevels .dmrfid_admin .membership-levels tr {background: #fff;}
.memberships_page_dmrfid-membershiplevels .dmrfid_admin .membership-levels tr.alternate {background: #f1f1f1;}
.memberships_page_dmrfid-membershiplevels .dmrfid_admin .membership-levels tr.ui-sortable-handle {
    border: 1px solid #2997C8;
    cursor: move;
}
.memberships_page_dmrfid-membershiplevels .dmrfid_admin .membership-levels tr th:first-child:before,
.memberships_page_dmrfid-membershiplevels .dmrfid_admin .membership-levels tr td:first-child:before {
    color: #CCC;
    content: "\f333";
    display: inline-block;
    font: 400 16px/1 dashicons;
    opacity: 0;
    width: 25px;
}
.memberships_page_dmrfid-membershiplevels .dmrfid_admin .membership-levels tr:hover td:first-child:before {
    opacity: 1;
}
.memberships_page_dmrfid-membershiplevels .dmrfid_admin tr.testclass {border: 3px solid #2997C8; background: #2997C8;}
.memberships_page_dmrfid-membershiplevels .dmrfid_admin tr.membership_categories ul {margin-left: 25px;}

/* payment settings */
.admin_page_dmrfid-paymentsettings .form-table select {
    max-width: none;
}

/* advanced settings */
.admin_page_dmrfid-advancedsettings .form-table select:not(.admin_page_dmrfid-advancedsettings .form-table select#tospage) {
    max-width: none;
}

/* orders */
.memberships_page_dmrfid-orders .dmrfid_admin .nav-tab-wrapper {
    margin-bottom: 10px;
}

/* members list */
.wp-list-table.members .column-ID {
    width: 5%;
}
.wp-list-table.members .column-username {
    width: 15%;
}

/* settings */
tr.dmrfid_settings_divider td {
    padding: 0;
    margin: 0;
}

/* messages */
.dmrfid_admin .dmrfid_message {
    background: #FFF;
    border-left: 4px solid #FFF;
    margin-right: 15px;
    padding: 15px;
}
.dmrfid_admin .dmrfid_success {
    background-color: rgba( 70, 180, 80, 0.1 );
    border-left-color: rgb( 70, 180, 80 );
}
.dmrfid_admin .dmrfid_error,
.dmrfid_admin tr.dmrfid_error td {
    background-color: rgba( 220, 50, 50, 0.1 );
    border-left-color: rgb( 220, 50, 50 );
}
.dmrfid_admin .dmrfid_alert {
    background-color: rgba( 255, 185, 0, 0.1 );
    border-left-color: rgb( 255, 185, 0 );
}
.dmrfid_admin .dmrfid_success a {
    color: #208A1B;
}
.dmrfid_admin .dmrfid_error a,
.dmrfid_admin tr.dmrfid_error td {
    color: #CC0000;
}
.dmrfid_admin .dmrfid_alert a {
    color: #CF8516;
}

/* notifications */
#dmrfid_notifications .dmrfid_notification {
    position: relative;
}
#dmrfid_notifications .dmrfid_notification .dmrfid_notification-general {
    background: #FFF;
    border-left: 4px solid #77A02E;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 1em 0;
    padding: 15px;
}
#dmrfid_notifications .dmrfid_notification .dmrfid_notification-error {
    background: #FFF;
    border-left: 4px solid #DC3232;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 1em 0;
    padding: 15px;
}
#dmrfid_notifications .dmrfid_notification h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
#dmrfid_notifications .dmrfid_notification p {
    margin: 1em 0 0 0;
}
#dmrfid_notifications .dmrfid_notification .button {
    margin-right: 5px;
}
#dmrfid_notifications .dmrfid_notification .dmrfid_notification-general h3 {
    color: #77A02E;
}
#dmrfid_notifications .dmrfid_notification .dmrfid_notification-error h3 {
    color: #DC3232;
}

/* highlighted trs */
tr.dmrfid_message {background-image: none;}
tr.dmrfid_success {background-image: none;}
tr.dmrfid_error {background-image: none;}
tr.dmrfid_alert {background-image: none;}

/* discount levels */
.dmrfid_discount_levels .dmrfid_discount_level {
    border: 1px solid #CCC;
    margin: 15px 0;
    padding: 10px;
}
.dmrfid_discount_levels .dmrfid_discount_level .dmrfid_discount_levels_pricing {
    background: #FFFFFF;
    border: 1px solid #CCC;
    margin: 10px 0 0 0;
    padding: 0px 20px;
}

/* pagination */
div.dmrfid_pagination {padding: 3px; margin: 5px 0px 5px 0px; font-size: 10px; float: right; }
div.dmrfid_pagination a {padding: 2px 5px 2px 5px; margin: 1px; border: 1px solid #666; text-decoration: none; /* no underline */ color: #666; background: #EEE; }
div.dmrfid_pagination a:hover, div.dmrfid_pagination a:active {background: #FFF; }
div.dmrfid_pagination span.current {border: 1px solid #FFF; color: #FFF; background: #666; padding: 2px 5px 2px 5px; margin: 1px; font-weight: bold; }
div.dmrfid_pagination span.disabled {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #BBB; color: #BBB; background: #EFEFEF;}

p.dmrfid_meta_notice {font-size: .8em; padding-top: 5px; border-top: 1px solid #CCC;}

/* add ons */
.memberships_page_dmrfid-addons .dmrfid_admin .nav-tab-wrapper {
    margin-bottom: 10px;
}
.dmrfid_admin .widgets-holder-wrap {clear: both; margin-top: 20px; padding: 0 8px; }
.dmrfid_admin .widgets-holder-wrap .widget {float: left; width: 32%; margin: 0 1% 1% 0; position: relative; }
.dmrfid_admin .widgets-holder-wrap p.description {padding: 0; }
.dmrfid_admin .widgets-holder-wrap .widget-top {height: auto; cursor: default; }
.dmrfid_admin .widgets-holder-wrap .widget-inside {display: block; height: 130px; overflow: hidden; }
.dmrfid_admin .widgets-holder-wrap .widget-inside p {height: 80px; overflow: hidden; }
.dmrfid_admin #dmrfid-gists.widgets-holder-wrap .widget-inside, .dmrfid_admin #dmrfid-gists.widgets-holder-wrap .widget-inside p {height: auto; }
.dmrfid_admin .widgets-holder-wrap .widget-title { }
.dmrfid_admin .widgets-holder-wrap .widget-title h4 { }
.dmrfid_admin .widgets-holder-wrap .widget-title .status-label {display: block; float: left; margin: 0 5px 0 0; width: 10px;
height: 10px; overflow: hidden; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #DFDFDF; text-indent: -9999em; }
.dmrfid_admin .widgets-holder-wrap .disabled .widget-title .status-label {background: #F00; }
.dmrfid_admin .widgets-holder-wrap .enabled .widget-title .status-label {background: #0C0; }

.dmrfid_admin .widgets-holder-wrap .widget-title .version {position: absolute; top: 13px; right: 10px; }
.dmrfid_admin .widgets-holder-wrap .widget-inside .addon-thumb {width: 100px; height: 100px; float: right; margin: 10px 0 0 10px; border: 1px solid #DFDFDF; background: #FFF; padding: 2px;}

/*@media (min-width: 1200px) {
	.auto-fold .dmrfid_admin .widgets-holder-wrap .widget-inside, .auto-fold .dmrfid_admin .widgets-holder-wrap .widget-inside p {height: auto; }
}
*/
@media (max-width:900px) {
	.auto-fold .dmrfid_admin .widgets-holder-wrap .widget {float: none; width: 100%; }
	.auto-fold .dmrfid_admin .widgets-holder-wrap .widget-inside, .auto-fold .dmrfid_admin .widgets-holder-wrap .widget-inside p {height: auto; }
}

/* license */
.memberships_page_dmrfid-license h2 {
    text-align: left;
}
.memberships_page_dmrfid-license .dmrfid_icon {
    margin-top: 20px;
}

/* misc */
.dmrfid_lite {color: #777;}
.dmrfid_pad20 {padding: 20px !important;}
.dmrfid_red {color: #CC0000;}
.dmrfid_green {color: #00AA00;}
.ssp_description #description {width: 100%;}
.top0em {margin-top: 0;}
h2.nav-tab-wrapper {margin-bottom: 1em; }

/* reports */
.memberships_page_dmrfid-reports .dmrfid_admin .nav-tab-wrapper {
    margin-bottom: 10px;
}
.dmrfid_reports-holder { }
.dmrfid_reports-holder .postbox h2 {border-bottom: 1px solid #eee; font-size: 14px; padding: 8px 12px; margin: 0; line-height: 1.4; }
.dmrfid_clickable {cursor: pointer;}
.js .postbox.dmrfid_clickable h3 {cursor: pointer;}
#dmrfid_report_login .wp-list-table tbody td,
#dmrfid_report_memberships .wp-list-table tbody tr.dmrfid_report_tr td,
#dmrfid_report_sales .wp-list-table tbody tr.dmrfid_report_tr td {
    font-size: 1.2rem;
    font-weight: bold;
}
#dmrfid_report_sales .wp-list-table tbody td:last-child {
    text-align: right;
}
.dmrfid_report-holder .wp-list-table tbody th button {
    border: none;
    background: 0 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #555;
    cursor: pointer;
    line-height: 1.7;
    padding: 0;
}
button.dmrfid_report_th:before {
    bottom: 2px;
    display: inline-block;
    font: 400 20px/1 dashicons;
    left: 0;
    padding: 0 5px 0 0;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
}
button.dmrfid_report_th_opened:before {
    content: "\f140";
}
button.dmrfid_report_th_closed:before {
    content: "\f139";
}
.dmrfid_report-holder .wp-list-table tbody tr.dmrfid_report_tr_sub:last-child th,
.dmrfid_report-holder .wp-list-table tbody tr.dmrfid_report_tr_sub:last-child td {
    border-bottom: 1px solid #CCC;
}
#dmrfid_report_memberships .wp-list-table tbody:nth-child(odd) .dmrfid_report_tr th,
#dmrfid_report_memberships .wp-list-table tbody:nth-child(odd) .dmrfid_report_tr td,
#dmrfid_report_sales .wp-list-table tbody:nth-child(odd) .dmrfid_report_tr th,
#dmrfid_report_sales .wp-list-table tbody:nth-child(odd) .dmrfid_report_tr td {
    background-color: #fff;
}
#dmrfid_report_memberships .wp-list-table tbody:nth-child(even) .dmrfid_report_tr th,
#dmrfid_report_memberships .wp-list-table tbody:nth-child(even) .dmrfid_report_tr td,
#dmrfid_report_sales .wp-list-table tbody:nth-child(even) .dmrfid_report_tr th,
#dmrfid_report_sales .wp-list-table tbody:nth-child(even) .dmrfid_report_tr td {
    background-color: #f9f9f9;
}
.dmrfid_report-holder .dmrfid_report-button {
    text-align: center;
}

/* Dashboard */
.dmrfid_admin #dmrfid_dashboard_welcome h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 1rem 0 0;
}
.dmrfid_admin #dmrfid_dashboard_welcome .dmrfid-dashboard-welcome-columns {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.dmrfid_admin #dmrfid_dashboard_welcome .button-action {
    background: #dd823b;
    border-color: #c36922 #ad5d1e #ad5d1e;
    color: #fff; box-shadow: 0 1px 0 #ad5d1e;
    text-shadow: 0 -1px 1px #ad5d1e, 1px 0 1px #ad5d1e, 0 1px 1px #ad5d1e, -1px 0 1px #ad5d1e;
}
.dmrfid_admin #dmrfid_dashboard_welcome ul li {
    font-size: 14px;
    line-height: 16px;
    padding: 0 0 8px;
}
.dmrfid_admin #dmrfid_dashboard_welcome ul li a .dashicons {
    color: #82878c;
}
.dmrfid_admin p.text-center {
    text-align: center;
}

/* new installation notices */
.dmrfid-new-install {
    padding: 2rem;
    text-align: center;
}
.dmrfid-new-install h2 {
    color: #AAA;
    font-size: 2rem;
}
.dmrfid-new-install h2:before {
    display: block;
    font: 400 5rem/1.5 dashicons;
}
.memberships_page_dmrfid-membershiplevels .dmrfid-new-install h2:before {
    content: "\f110";
}
.memberships_page_dmrfid-pagesettings .dmrfid-new-install h2:before {
    content: "\f133";
}
.memberships_page_dmrfid-discountcodes .dmrfid-new-install h2:before {
    content: "\f323";
}
#wpbody-content .dmrfid-new-install .button-primary,
#wpbody-content .dmrfid-new-install .button {
    font-size: 1.2em;
    height: auto;
    margin-bottom: .5rem;
    padding: .75em 1.5em;
}

@media screen and (max-width: 782px) {
    .dmrfid_admin .dmrfid_banner {
        display: block;
    }
    .dmrfid_admin .nav-tab-wrapper:after {
        clear: both;
        display: block;
    }
    .dmrfid_admin .nav-tab-wrapper a {
        margin-top: 5px;
    }
    .dashboard-widgets-wrap .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column),
    .dmrfid_report-holder .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column) {
        display: table-cell;
        overflow: hidden;
        word-wrap: break-word;
    }
    #dmrfid_dashboard_report_recent_members .wp-list-table .column-username img {
        display: none;
    }
    #dmrfid_dashboard_report_recent_orders .wp-list-table {
        border: none;
    }
    #dmrfid_dashboard_report_recent_orders .wp-list-table thead,
    #dmrfid_dashboard_report_recent_orders br {
        display: none;
    }    
    #dmrfid_dashboard_report_recent_orders .wp-list-table tr,
    #dmrfid_dashboard_report_recent_orders .wp-list-table tr td {
        background: none;
        display: inline-block;
        padding: 0;
        position: relative;
    }
    #dmrfid_dashboard_report_recent_orders .wp-list-table tr td:after {
        color: #CCC;
        content: ' |';
    }
    #dmrfid_dashboard_report_recent_orders .wp-list-table tr {
        padding: 5px;
    }
    #dmrfid_dashboard_report_recent_orders .wp-list-table tr td:last-child:after {
        content: '';
    }
    .dmrfid-new-install {
        padding: 0;
    }
    .dmrfid-new-install h2 {
        font-size: 1.4rem;
    }
    .dmrfid-new-install .button-primary, .dmrfid-new-install .button {
        display: block;
    }
    .dmrfid_admin #dmrfid_dashboard_welcome .dmrfid-dashboard-welcome-columns {
        display: block;
    }
    .dmrfid_admin #dmrfid_dashboard_welcome .dmrfid-dashboard-welcome-column {
        border-bottom: 1px solid #CCC;
        margin-bottom: 2em;
        padding-bottom: 2em;
    }
    .dmrfid_admin #dmrfid_dashboard_welcome .dmrfid-dashboard-welcome-column:last-child {
        border: none;
        margin: 0;
        padding: 0;
    }
    .memberships_page_dmrfid-membershiplevels .dmrfid_admin .membership-levels tr th:first-child:before,
    .memberships_page_dmrfid-membershiplevels .dmrfid_admin .membership-levels tr td:first-child:before {
        content: '';
        width: 0;
    }
}
